/** @format */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-image: linear-gradient(to bottom, #b2b8ec, #ffffff);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

a:hover {
  color: #646fd4;
}
/* HEADER */
header {
  position: relative;
  padding: 0 1.5rem;

  margin: 2rem 0;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: #646fd4;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn:hover {
  scale: 1.05;
  color: #fff;
}

.action_btn:active {
  scale: 0.95;
}

/* DROP DOWN MENU */
.dropdown_menu {
  position: absolute;
  z-index: 5;
  display: none;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* RESPONSIVE DESIGN */
@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }
  .navbar .toggle_btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
  .navbar {
    max-width: 100%;
    display: flex;
  }
}

main {
  width: 100%;
  padding: 1rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/img/dot.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

main .content article {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 20px;
}

main .content .content-description {
  flex: 1 1;
}

main .content .content-description .title {
  margin-block: 1rem;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
}

main .content .content-description p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  font-size: 16px;
  font-weight: 300;
  color: #333333;
}

main .content .content-description button {
  padding: 0.8rem 2.5rem;
  border: 3px solid transparent;
  margin-block-start: 1rem;
  border-radius: 8px;
  background-color: black;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

main .content .content-description button .fab {
  color: white;
  margin-right: 20px;
  width: 20px;
}

main .content .content-description button:hover {
  border: 3px solid #646fd4;
  background-color: transparent;
  color: #646fd4;
}

main .content .content-image {
  flex: 1;
  display: flex;
}

main .content .content-image img {
  width: 100%;
  min-width: 250px;
  margin: auto;
}

/* KONTEN KEDUA */

main .section-2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3rem 2rem;
  margin: 1rem 0;
}
.section-2 .teks .about,
.header,
.deskripsi {
  margin: 1rem 0;
}
main .section-2 .deskripsi {
  font-weight: 300;
  color: #333333;
  font-family: "Montserrat", sans-serif;
}

main .section-2 img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

div a.daftar {
  text-decoration: none;
  font-weight: 500;
  color: white;
  background-color: #646fd4;
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  font-size: medium;
  display: inline-block;
  transition: background-color 0.3s ease-in-out;
}

div a.daftar:hover {
  background-color: #242f9b;
}

/* RESPONSIVE DESIGN FOR SECTION-2 */
@media (min-width: 576px) {
  main .section-2 {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    text-align: left;
  }

  main .section-2 img {
    width: auto;
    max-width: 300px;
  }
}

/* KONTEN KETIGA */
main .section-3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3rem 2rem;
  margin: 1rem 0;
}
main .section-3 .heading {
  font-family: "Montserrat", sans-serif;
  padding: 0 4rem;
  font-weight: 700;
  font-size: 2rem;
  margin: 2rem 0;
}

main .section-3 .sub-heading {
  color: #646fd4;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

main .section-3 .card-collection {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  justify-content: space-between;
  text-align: left;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

main .section-3 .card-collection .card1 {
  padding: 40px;
  background-color: #646fd4;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  animation: fadeIn 0.5s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
}

main .section-3 .card-collection .card1:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

main .section-3 .card-collection .card {
  background-color: white;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  transition: box-shadow 0.3s ease-in-out;
}

main .section-3 .card-collection .card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

main .section-3 .card-collection .basic {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

main .section-3 .card-collection .price {
  font-weight: bold;
  font-size: 2.25rem;
  color: #646fd4;
  margin: 0;
}

main .section-3 .card-collection .people {
  font-size: smaller;
  font-weight: 400;
  color: #a1a1a1e5;
}

main .section-3 .card-collection .benefit {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  margin: 0;
  padding: 0.25rem 0;
}

main .section-3 .card-collection .benefit .icon-check {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .section-3 .card-collection .benefit p {
  font-size: smaller;
}

main .section-3 .card-collection .card button.pilih-c {
  text-decoration: none;
  font-weight: 500;
  color: white;
  background-color: #646fd4;
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  font-size: medium;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 1rem;
}

main .section-3 .card-collection .card button.pilih-c:hover {
  background-color: #242f9b;
}

main .section-3 .card-collection .card1 button.pilih-c {
  text-decoration: none;
  font-weight: 500;
  color: black;
  background-color: white;
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  font-size: medium;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 1rem;
}

main .section-3 .card-collection .card button.pilih-c img {
  margin-left: 0.5rem;
}

main .section-3 .card-collection .card1 button.pilih-c img {
  margin-left: 0.5rem;
}

main .section-3 .card-collection .card1 button.pilih-c:hover {
  background-color: #242f9b;
  color: white;
}
@media only screen and (max-width: 600px) {
  main .section-3 {
    padding: 2rem 1rem;
  }

  main .section-3 .heading {
    padding: 0 1rem;
    font-size: 1.5rem;
  }

  main .section-3 .card-collection {
    align-items: center;
  }

  main .section-3 .card-collection .card1,
  main .section-3 .card-collection .card {
    padding: 15px;
    font-size: 0.9rem;
  }

  main .section-3 .card-collection .card1 button.pilih-c,
  main .section-3 .card-collection .card button.pilih-c {
    margin-top: 1rem;
    font-size: 0.8rem;
  }

  main .section-3 .card-collection .card1 button.pilih-c img,
  main .section-3 .card-collection .card button.pilih-c img {
    margin-left: 0.25rem;
  }

  main .section-3 .card-collection .benefit {
    flex-direction: column;
    align-items: center;
  }

  main .section-3 .card-collection .benefit p {
    font-size: 0.8rem;
  }

  main .section-3 .card-collection .card1 button.pilih-c:hover,
  main .section-3 .card-collection .card button.pilih-c:hover {
    background-color: #242f9b;
    color: white;
  }
}
/* ASIDE */
main aside article {
  position: fixed;
  inset-block: 0;
  height: 100vh;
  inset-inline-start: 0;
  display: flex;
  transition: right 0.3s ease-in-out;
}

main aside .sahal {
  padding: 0.75rem;
  border-color: white;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  margin: auto;
  background-color: #646fd4;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

main aside.active {
  right: 0;
}

main aside .sahal img {
  border-radius: 8px;
}

.hidden {
  display: none;
}

main aside .sahal h4 {
  color: white;
  margin-top: 0.5rem;
}

main aside .sahal p {
  color: white;
  margin-top: 0.5rem;
  text-align: left;
}

main aside .sahal button {
  background-color: transparent;
  font-weight: bold;
  color: white;
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

main div .voyager {
  color: #242f9b;
}

aside article .sahal label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

aside article .sahal input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

aside article .sahal #hiddenContent button {
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

aside article .sahal .input-with-icon {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
}

aside article .sahal #hiddenContent button i {
  font-size: 18px;
}

aside article .sahal #hiddenContent .biodata {
  color: white;
  margin-top: 0.5rem;
}

aside article .sahal #hiddenContent table tr .bold {
  font-weight: bold;
  padding-right: 1rem;
}

/* FOOTER */
footer {
  background-color: #646fd4;
  color: white;
  padding: 1rem 10rem;
  margin: 2rem 0;
  width: 100%;
}

footer .footer-content {
  display: flex;
  flex-direction: row;
  flex: auto;
  justify-content: space-between;
  gap: 2rem 2rem;
}

footer .deskripsi {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
}

footer .deskripsi .deskripsi-footer {
  font-weight: 200;
  font-size: small;
}

.footer-content .link ul {
  list-style-type: none;
  padding: 0;
}

.footer-content .link ul li {
  margin-bottom: 10px;
  text-decoration: none;
}

.footer-content .link ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.05rem;
}

.footer-content .link ul .link-a {
  font-weight: 200;
}

.footer-content .link .head {
  font-weight: 500;
}

footer .social-media-footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0;
}

footer .social-media-footer .social-media-icon {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  padding: 0;
}

footer .social-media-footer .heading-footer {
  padding: 0;
  margin: 0;
}

footer .social-media-footer h3 {
  text-decoration: none;
  font-size: 1.05rem;
  color: white;
  font-weight: 500;
  transition: all 0.1s ease-in-out;
}

footer .social-media-footer li a {
  color: white;
}

footer .social-media-footer li a:hover {
  color: #89b0d9;
}

@media screen and (max-width: 768px) {
  footer {
    padding: 2rem 1rem;
    background-color: #646fd4;
    margin: 0;
  }

  footer .footer-content {
    flex-direction: column;
    gap: 1rem;
  }

  footer .deskripsi,
  footer .link,
  footer .social-media-footer {
    margin-bottom: 1.5rem;
  }

  footer .deskripsi {
    max-width: none;
  }

  footer .footer-content .link,
  footer .footer-content .social-media-footer {
    text-align: left;
  }
  header.navbar-container {
    flex-direction: column;
  }

  header.navbar-container .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
  }

  header.navbar-container .nav-list ul {
    flex-wrap: wrap;
    column-gap: 0.5rem;
  }

  main {
    padding: 1rem 1.5rem;
  }

  main .content article {
    flex-direction: column;
    gap: 2rem;
  }

  main .content .content-description .title {
    font-size: 3rem;
  }

  main .content .content-description p {
    font-size: 1rem;
  }

  main .content .content-image {
    order: -1;
  }

  main .section-2 img {
    width: 100%;
  }

  main .section-3 {
    padding: 2rem;
  }

  main .section-3 .card-collection {
    flex-direction: column;
  }

  main .section-3 .card-collection .card,
  main .section-3 .card-collection .card1 {
    margin-bottom: 1.5rem;
  }

  footer .footer-content {
    flex-direction: column;
    gap: 2rem;
  }

  header.navbar-container .burger-menu {
    top: 15px;
    right: 15px;
  }
}

@media screen and (max-width: 576px) {
  footer .footer-content {
    padding: 0.5rem 0.75rem;
  }
}

@media (max-width: 576px) {
  main {
    background-size: auto;
  }
  main {
    padding: 1rem 5%;
  }

  main .content article {
    flex-direction: column;
    gap: 1rem;
  }

  main .content .content-description button {
    margin-block-start: 0.5rem;
  }

  main .section-2 {
    padding: 2rem 1rem;
  }

  main .section-3 {
    padding: 2rem 1rem;
  }

  footer {
    padding: 1rem 5%;
  }
}

@media only screen and (min-width: 1920px) {
  main {
    padding: 1rem 22rem;
  }
  footer {
    padding: 1rem 22rem;
  }
}
